body{
    overflow-x: hidden;
}
.badgeCategory{
    cursor: pointer;
}
.badgeCategory:hover{
    transform: scale(1.2);
}
.badgeReport{
    cursor: pointer;
}
.badgeReport:hover{
    transform: scale(1.2);
}
.reportDiv{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.reportIcon, .deleteIcon, .updateIcon, .likeIcon{
	font-size: 25px;
	float: right;
	margin: 2px;
}
.likeIconBtn{
    padding:0;
    border: none;
    background-color: transparent;
    margin: 0;
    outline: none;
}
.btnDeleteQuiz{
	font-size: 25px;
	float: right;
    border: none;
    background-color: transparent;
}

.keyAns{
    position: absolute;
    bottom: 0px;
    right: 5px;
}

.quizForm{
    min-height: 300px;
}
.badgeBtn{
    cursor: pointer;
}
.badgeBtn:hover{
    transform: scale(1.2);
}
.avatar{
    background-color: cadetblue;
    border-radius: 50%;
}
.avatar:hover{
    transform: scale(1.2);
    filter: grayscale(75%);
    border-radius: 50%;
}


#avatarImg:hover{
    border-radius: 50%;
    cursor: pointer;
    transform: scale(1.2);
    filter: grayscale(75%);
    background-color: cadetblue;
}

#side{
    position: fixed;
    max-height: 100vh;
    overflow-y: auto;
}

.info{
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achievementsCard{
    max-height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.categories{
    max-height: 30vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px grey; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: blue; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #b30000; 
}




